<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <!-- nav -->
  {{>navbar}}

    <!-- Nav End -->
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div
              class="col-md-6 col-sm-12 main_header_right align-items-center"
            >
              <figure>
                <img
                  src="./images/aboutimg.jpg"
                  alt="about img"
                  style="border-radius: 20px"
                />
              </figure>
            </div>
            <!-- right side div -->
            <div class="col-md-6 col-sm-12 main_header_left">
              <p>welcome to wheather app</p>
              <h1>
                I'M a
                <span class="text_clr">MERN stack developer </span>software
                Engineer
              </h1>
              <a
                href="https://goddumarrijeevananda.netlify.app"
                target="_blank"
              ><button>About me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
   {{>footer}}
  </body>
</html>